Click==7.0
Flask==1.1.1
# Editable install with no version control (flaskr==1.0.0)
-e /home/robinh/PythonProjects/FlaskLearning/capture_app
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Werkzeug==2.2.3
